app_store_connect_creds.json
ami_app_ci_server-google_cloud_service_account.json
gc_keys.json
node_modules
.DS_Store
env.js
fastlane/report.xml
fastlane/README.md

# yarn throws error if it finds a package-lock.json file. 
package-lock.json 

# iOS
iOS/build

# Android/IntelliJ
#
android/app/build
android/build/
.idea
.gradle
local.properties
*.iml

# Gradle files
.gradle/
build/

# CocoaPods
Pods/
